<h1>Router</h1>

<hr>
<nav>
    <a href="/page-a">Page A</a> - 
    <a href="/page-b">Page B</a> - 
    <a href="/page-c">Page C</a> - 
    <a href="/page-d">Page D</a>
</nav>
<hr>
<nav>
    <a [routerLink]="['/page-a']">Page A</a> - 
    <a [routerLink]="['/page-b']">Page B</a> - 
    <a [routerLink]="['/page-c']">Page C</a> - 
    <a [routerLink]="['/page-d']">Page D</a>
</nav>
<hr>


<!-- <module-a-composant-a></module-a-composant-a> -->
<!-- <module-a-composant-b></module-a-composant-b> -->
<!-- <module-b-composant-a></module-b-composant-a> -->
<!-- <module-b-composant-b></module-b-composant-b> -->

<router-outlet></router-outlet>

<hr>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mUxnVM_fpEA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>